.callToAction
    padding: 30px
    text-align: center
    background-color: #141414
    color: white
    border-radius: 8px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    margin: 20px auto
    max-width: 800px

h2
    color: #ff6f61
    margin-bottom: 15px

p
    margin-bottom: 20px
    color: #ccc

button
    padding: 10px 20px
    background-color: #4caf50
    color: white
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s ease

button:hover
    background-color: #45a049
